@import "../../styles/mixins.styl";
@import "../../styles/fonts.styl";

.settings {
    padding: 1em;
    width: 100%;
    height: 100%;

    .select {
        .select-input, .menu-item {
            .menu-item-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    .theme-name {
    }

    .theme-sample {
        display: inline-flex;
        border: 1px solid #fff;

        .color {
            width: 26px;
            height: 36px;
        }
    }
}
