@import "../../styles/mixins.styl";

.app-title {
    padding: 0;

    .logo {
            margin-right: 1em;
            width: 2em;
            height: 2em;
        }

    .title {
        font-family: "Baloo";
        font-size: 1.8rem;
    }
}
