@import "../../styles/mixins.styl";

.theme-selector {
    position: relative;

    .menu-item {
        .menu-item-wrapper {
            display: flex;
            align-items: center;
        }
    }

    .theme-name {
    }

    .theme-sample {
        display: inline-flex;
        border: 1px solid #fff;

        .color {
            width: 26px;
            height: 36px;
        }
    }
}
